.container{
    padding: 10px;
}
menu{
    padding: 10px;
    flex-basis: 60px;
}
.main{
    padding: 10px;
    flex: 1;
}
.navbar__menu{
    --width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 0 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    width: var(--width);
    z-index: 0;
}

@media screen and (max-width: 1200px){
    .menu{
        display: none;
    }
}