/*Button Croll*/
.btn {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.55);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    font-size: 3rem;
    color: rgb(0, 255, 184);
}
/*Main*/
.container{
    padding: 10px;
}
menu{
    padding: 10px;
    flex-basis: 60px;
}
.main{
    padding: 10px;
    flex: 1;
}
.navbar__menu{
    --width: 96px;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    left: 0;
    padding: 10px 8px;
    position: -webkit-sticky;
    position: sticky;
    top: 74px;
    width: var(--width);
    z-index: 8;
    border-radius:15px ;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;

}
/* Course card   */
.cards{
    --spacing:25px;
    --column:2;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--spacing));
}

@media screen and (max-width: 46.1875em) {
    .cards{
        --spacing: 15px;
        --column: 1;
    }
    .menu{
        display: none;
    }

}
@media screen and (max-width: 63.9375em) and (min-width: 46.25em) {
    .cards{
        --column: 2
    }
    .menu{
        display: none;
    }

}
@media screen and (min-width: 64em){
    .cards{
        --column: 5
    }

}
