@import "base.css";

.footer{
    background-color: #181821;
    padding: 68px 0 40px 0;
    margin-left: -10px;
}
.footer__top{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}
.footer__top-list{
    list-style: none;
    padding: 0;
}
.footer__top-lits-item{
    display: flex;
    align-items: center;
    line-height: 30px;
    color: var(--title-item-footer);
    font-size: 1.2rem;
}
.footer__bottom{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    flex-wrap: wrap;
    line-height: 3rem;
}
.icon_footer{    
    font-size: 2rem; 
    padding-left: 10px;
}
.icon_footer-item{    
    font-size: 2rem; 
    padding-left: 10px;
}

.footer__top_list-title{    
    font-size: 1.8rem;
    color: #fff;  
}
span#logo__footer {
    margin-right: 5px;
}
.footer__top-item{
    margin-left: 10px;
}

@media screen and (max-width: 1200px){
   .footer{
       padding: 0;
   }
   .footer__top{
       justify-content: flex-start;
       padding-left: 20px;
   }
   .footer__bottom{
       padding-bottom: 20px;
   }
}