  
#register-KH{
  margin-top: 20px;
}

.imgage__slide{
  position: absolute;
  top: 0;
  right: 0;
}
.content__slide-home{
  display: flex;
  justify-content: start;
  padding: 10px;
}


.el-carousel__item h3 {
  color: #475669;
  font-size: 14px;
  opacity: 0.75;
  line-height: 40px;
  margin: 0;
  text-align: center;
}

.el-carousel__item:nth-child(2n) {
  background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n + 1) {
  background-color: #d3dce6;
}
#btn-menu-add:hover{
  background-color: #1dbfaf;
}


/*Slide Carousel*/
.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}

@media screen and (max-width: 46.1875em) {
  .list__course-item{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48%;
  }
  .course__title{
    font-size: 1.2rem;
    line-height: 2.2rem;

  }
  .contain-slide{
    position: unset;
  }
  .imgage__slide{
    opacity: 0.1;
    width: 100%;
    top: 0;
  }

}
@media screen and (max-width: 63.9375em) and (min-width: 46.25em) {
  .list__course-item{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 48%;
  }
  .contain-slide{
    position: unset;
  }
  .imgage__slide{
    opacity: 0.1;
    width: 100%;
    top: 0;
  }

}
@media screen and (min-width: 64em){

}